.btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.btn-primary {
  color: #ffffff;
  background-color: #bf0000;
  border: 1px solid #bf0000;
}

.btn-outline {
  color: #bf0000;
  background-color: #ffffff;
  border: 1px solid #bf0000;
}
