.computer-wrapper {
  .computer-background {
    right: -50%;
    top: -50%;
    bottom: -50%;
    left: -50%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
  }

  .computer-content {
    width: 480px;
    border-radius: 4px;
    margin: 30px auto 0;
    background: linear-gradient(#84BAFF, #0B0E1C);
    position: relative;

    .computer-screen {
      height: 150px;
      display: flex;
      flex-direction: column-reverse;
      margin: 20px;
      overflow-x: scroll;
      text-align: right;
      color: #ffffff;
    }

    .computer-buttons {
      display: flex;
      margin: 20px 10px 0;

      &__left-side {
        &__function-menu {
          display: flex;
        }

        &__digits {
          display: flex;
          flex-wrap: wrap-reverse;
        }
      }

      &__right-side {
        display: flex;
      flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .computer-wrapper {
    .computer-content {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      border-radius: unset;
      overflow-y: scroll;

      .computer-screen {
        height: 100px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .computer-wrapper {
    .computer-content {
      width: 360px;

      .computer-screen {
        height: 120px;
      }
    }
  }
}
